<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('includes/head') %>
		<link rel="stylesheet" href="/styles/align-and-font-size.css" />
		<title>Restaurant Detail</title>
	</head>
	<body>
		<%- include('includes/header') %>
		<main>
			<h1><%= restaurant.name %></h1>
			<p><%= restaurant.cuisine %> | <%= restaurant.address %></p>
			<p><%= restaurant.opinion %></p>
			<button class="btn">
				<a href="<%= restaurant.website %>">View Website</a>
			</button>
		</main>
		<%- include('includes/footer') %>
	</body>
</html>
